Gateway/**/__pycache__/*
AndroidProject/**/.gradle/
AndroidProject/**/.idea/
AndroidProject/**/.DS_Store
AndroidProject/**/build/
AndroidProject/**/captures/
AndroidProject/**/.externalNativeBuild/
AndroidProject/**/.cxx/
AndroidProject/**/local.properties

