Gateway/**/__pycache__/

STM32F103RB/**/.settings/

AndroidProject/**/.gradle/
AndroidProject/**/.idea/
AndroidProject/**/.DS_Store
AndroidProject/**/build/
AndroidProject/**/captures/
AndroidProject/**/.externalNativeBuild/
AndroidProject/**/.cxx/
AndroidProject/**/local.properties
